@media screen and (max-width: 1300px) {
	.container {
		max-width: 960px;
	}

	body {
		align-items: center;
	}

	.flex {
		display: flex;
		justify-content: space-between;
	}

	.work {
		padding: 0;
	}

	.cust_left {
		order: 1;
	}

	.man_main {
		margin-bottom: 0;
	}

	.work_main {
		flex-direction: column;
	}

	.work_left {
		width: 100%;
	}

	.work_right {
		width: 100%;
	}

	.work_tit {
		margin: auto;
		text-align: center;
		margin-bottom: 30px;
	}

	.work_desc {
		margin: auto;
		margin-bottom: 30px;
	}

	.work_btns {
		margin: auto;
		margin-bottom: 30px;
	}

	.price_card {
		margin-bottom: 30px;
	}

	.work_main {
		flex-direction: column;
	}

	.card_price {
		justify-content: center;
		margin-bottom: 20px;
	}

	.man_left {
		width: 100%;
	}

	.customer {
		flex-direction: column;
	}

	.cust_left {
		margin-bottom: 50px;
	}



	.cust_mark_1 {
		max-width: 430px;
	}

	.content_cards {
		margin: auto;
	}

	.content_btn {
		margin: auto;
		margin-bottom: 50px;
	}

	.join_left {
		width: 100%;
	}

	.client_card {
		margin: auto;
		margin-bottom: 40px;
	}

	.join_card {
		flex-direction: column;
	}

	.join_right {
		margin: auto;
	}

	.join_btn {
		margin: auto;
	}

	.socials {
		max-width: 160px;
		margin-bottom: 30px;
	}

	.footer_main_menu {
		margin-bottom: 30px;
	}

	.burger {
		display: none;
	}

	.card_selector {
		display: none;
	}

	.last_built_card {
		margin: auto;
		margin-bottom: 30px;
	}

	.price_card {
		margin: auto;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 990px) {
	.container {
		max-width: 750px;
	}

	.burger {
		display: none;
	}

	.footer_main_menu {
		margin-left: 20px;
		/* margin-right: 20px; */
	}

	.card_selector {
		display: none;
	}

	.price_card {
		margin: auto;
		margin-bottom: 30px;
	}

	.coment_1_media {
		flex-direction: row-reverse;
	}

	.coment_1_media_2 {
		flex-direction: row-reverse;

	}

	.coment_1 {
		margin-bottom: 20px;
	}

	.coment_1_media_2 {
		margin-bottom: 20px;
	}

	.last_built_card {
		margin: auto;
		margin-bottom: 60px;
	}

	.last_price_card {
		margin: auto;
	}

	.know {
		margin: auto;
	}

}

@media screen and (max-width: 780px) {
	.container {
		max-width: 510px;
	}

	#menuToggle {
		display: block;
	}

	.navigation {
		display: none;
	}

	.head_btns {
		display: none;
	}

	.nav_img {
		margin-top: -25px;
	}

	.card_selector {
		display: none;
	}

	.footer_btn {
		margin: auto;
	}

	#menu {
		margin: -60px 0 0 -620px;
	}
}

@media screen and (max-width: 670px) {
	#menu {
		margin: -60px 0 0 -580px;
	}
}

@media screen and (max-width: 540px) {
	.container {
		max-width: 420px;
	}

	.built_card {
		margin: auto;
		margin-bottom: 50px;
	}

	#menuToggle {
		display: block;
		left: 400px;
	}

	#menu {
		margin: -60px 0 0 -475px;
	}

}

@media screen and (max-width: 450px) {
	.container {
		max-width: 100%;
	}

	#menuToggle {
		display: block;
		left: 300px;
	}

	#menu {
		margin: -60px 0 0 -350px;
	}

	.footer_logos {
		margin: auto;
	}

	.main_footer {
		flex-direction: column;
	}

	.footer_main_menu {
		margin: auto;
		margin-bottom: 30px;
	}
}